.top{
    background-color:rgb(202, 238, 220);
    background-image: url(light.jpg);
    background-size:auto;
    border-color: antiquewhite;
}
.hed{
    
    text-align: center;
    text-decoration-line: underline;
    font-style: oblique;
}
.lay{
     padding-left: 20px;
     padding-right: 20px;
     outline: 5px;
}
.image{
    display: inline;
}